-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('COLLABORATOR', 'MANAGER', 'DIRECTOR', 'ADMIN');

-- CreateEnum
CREATE TYPE "ComplimentStatus" AS ENUM ('PENDENTE_APROVACAO', 'PENDENTE_AVALIACAO', 'REJEITADO', 'DEVOLVIDO_PARA_AJUSTE', 'AVALIADO');

-- CreateEnum
CREATE TYPE "ApprovalAction" AS ENUM ('APPROVED', 'REJECTED', 'RETURNED');

-- CreateEnum
CREATE TYPE "MedalType" AS ENUM ('BRONZE', 'SILVER', 'GOLD', 'SPECIAL');

-- CreateEnum
CREATE TYPE "TrainingType" AS ENUM ('TRAINING', 'CONSULTANCY', 'COURSE');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('COMPLIMENT_APPROVED', 'COMPLIMENT_REJECTED', 'COMPLIMENT_RETURNED', 'COMPLIMENT_EVALUATED', 'COMPLIMENT_REEVALUATED', 'NEW_PENDING_APPROVAL', 'NEW_PENDING_EVALUATION', 'DEADLINE_WARNING', 'GENERAL');

-- CreateEnum
CREATE TYPE "AuditAction" AS ENUM ('CREATE', 'UPDATE', 'DELETE', 'APPROVE', 'REJECT', 'RETURN_FOR_ADJUSTMENT', 'EVALUATE', 'REEVALUATE', 'LOGIN', 'LOGOUT', 'ACTIVATE_ACCOUNT', 'DEACTIVATE_ACCOUNT', 'RESET_PASSWORD');

-- CreateEnum
CREATE TYPE "DeadlineType" AS ENUM ('REGISTRATION', 'APPROVAL', 'EVALUATION', 'CENTRAL_EVALUATION');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password_hash" VARCHAR(255) NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'COLLABORATOR',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "email_verified" BOOLEAN NOT NULL DEFAULT false,
    "area_id" TEXT,
    "avatar_url" VARCHAR(500),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "areas" (
    "id" TEXT NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "manager_id" TEXT,
    "director_id" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "areas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "compliments" (
    "id" TEXT NOT NULL,
    "insured" VARCHAR(300) NOT NULL,
    "received_at" DATE NOT NULL,
    "branch" VARCHAR(200) NOT NULL,
    "reason" TEXT NOT NULL,
    "claim_history" TEXT NOT NULL,
    "collaborator_id" TEXT NOT NULL,
    "submitted_by_id" TEXT NOT NULL,
    "status" "ComplimentStatus" NOT NULL DEFAULT 'PENDENTE_APROVACAO',
    "attachment_url" VARCHAR(500),
    "attachment_name" VARCHAR(255),
    "attachment_type" VARCHAR(255),
    "quarter" INTEGER NOT NULL DEFAULT 1,
    "year" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "compliments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "compliment_approvals" (
    "id" TEXT NOT NULL,
    "compliment_id" TEXT NOT NULL,
    "manager_id" TEXT NOT NULL,
    "action" "ApprovalAction" NOT NULL,
    "observation" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "compliment_approvals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "compliment_evaluations" (
    "id" TEXT NOT NULL,
    "compliment_id" TEXT NOT NULL,
    "director_id" TEXT NOT NULL,
    "medal" "MedalType" NOT NULL,
    "justification" TEXT NOT NULL,
    "comment" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "compliment_evaluations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "compliment_reevaluations" (
    "id" TEXT NOT NULL,
    "compliment_id" TEXT NOT NULL,
    "director_id" TEXT NOT NULL,
    "previous_medal" "MedalType" NOT NULL,
    "new_medal" "MedalType" NOT NULL,
    "reason" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "compliment_reevaluations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "trainings" (
    "id" TEXT NOT NULL,
    "insured" VARCHAR(300) NOT NULL,
    "date" DATE NOT NULL,
    "type" "TrainingType" NOT NULL,
    "branch" VARCHAR(200) NOT NULL,
    "ramo" VARCHAR(200) NOT NULL,
    "collaborator_id" TEXT NOT NULL,
    "submitted_by_id" TEXT NOT NULL,
    "attachment_url" VARCHAR(500),
    "attachment_name" VARCHAR(255),
    "attachment_type" VARCHAR(255),
    "quarter" INTEGER NOT NULL DEFAULT 1,
    "year" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "trainings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "message" TEXT NOT NULL,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "reference_id" TEXT,
    "reference_type" VARCHAR(50),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "user_name" VARCHAR(200) NOT NULL,
    "user_role" VARCHAR(50) NOT NULL,
    "action" "AuditAction" NOT NULL,
    "entity_type" VARCHAR(100) NOT NULL,
    "entity_id" TEXT,
    "previous_value" JSONB,
    "new_value" JSONB,
    "ip_address" VARCHAR(45),
    "user_agent" VARCHAR(500),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deadlines" (
    "id" TEXT NOT NULL,
    "type" "DeadlineType" NOT NULL,
    "days" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "deadlines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medal_images" (
    "id" TEXT NOT NULL,
    "medal_type" "MedalType" NOT NULL,
    "image_url" VARCHAR(500) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "medal_images_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "medal_images_medal_type_key" ON "medal_images"("medal_type");

-- CreateTable
CREATE TABLE "verification_codes" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "code" CHAR(6) NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "used_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "verification_codes_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_role_idx" ON "users"("role");

-- CreateIndex
CREATE INDEX "users_area_id_idx" ON "users"("area_id");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "areas_manager_id_idx" ON "areas"("manager_id");

-- CreateIndex
CREATE INDEX "areas_director_id_idx" ON "areas"("director_id");

-- CreateIndex
CREATE INDEX "compliments_collaborator_id_idx" ON "compliments"("collaborator_id");

-- CreateIndex
CREATE INDEX "compliments_submitted_by_id_idx" ON "compliments"("submitted_by_id");

-- CreateIndex
CREATE INDEX "compliments_status_idx" ON "compliments"("status");

-- CreateIndex
CREATE INDEX "compliments_year_quarter_idx" ON "compliments"("year", "quarter");

-- CreateIndex
CREATE INDEX "compliments_created_at_idx" ON "compliments"("created_at");

-- CreateIndex
CREATE INDEX "compliment_approvals_compliment_id_idx" ON "compliment_approvals"("compliment_id");

-- CreateIndex
CREATE INDEX "compliment_approvals_manager_id_idx" ON "compliment_approvals"("manager_id");

-- CreateIndex
CREATE UNIQUE INDEX "compliment_evaluations_compliment_id_key" ON "compliment_evaluations"("compliment_id");

-- CreateIndex
CREATE INDEX "compliment_evaluations_director_id_idx" ON "compliment_evaluations"("director_id");

-- CreateIndex
CREATE INDEX "compliment_evaluations_medal_idx" ON "compliment_evaluations"("medal");

-- CreateIndex
CREATE INDEX "compliment_reevaluations_compliment_id_idx" ON "compliment_reevaluations"("compliment_id");

-- CreateIndex
CREATE INDEX "compliment_reevaluations_director_id_idx" ON "compliment_reevaluations"("director_id");

-- CreateIndex
CREATE INDEX "trainings_collaborator_id_idx" ON "trainings"("collaborator_id");

-- CreateIndex
CREATE INDEX "trainings_type_idx" ON "trainings"("type");

-- CreateIndex
CREATE INDEX "trainings_year_quarter_idx" ON "trainings"("year", "quarter");

-- CreateIndex
CREATE INDEX "trainings_created_at_idx" ON "trainings"("created_at");

-- CreateIndex
CREATE INDEX "notifications_user_id_is_read_idx" ON "notifications"("user_id", "is_read");

-- CreateIndex
CREATE INDEX "notifications_created_at_idx" ON "notifications"("created_at");

-- CreateIndex
CREATE INDEX "audit_logs_user_id_idx" ON "audit_logs"("user_id");

-- CreateIndex
CREATE INDEX "audit_logs_action_idx" ON "audit_logs"("action");

-- CreateIndex
CREATE INDEX "audit_logs_entity_type_entity_id_idx" ON "audit_logs"("entity_type", "entity_id");

-- CreateIndex
CREATE INDEX "audit_logs_created_at_idx" ON "audit_logs"("created_at");

-- CreateIndex
CREATE UNIQUE INDEX "deadlines_type_key" ON "deadlines"("type");

-- CreateIndex
CREATE INDEX "verification_codes_user_id_idx" ON "verification_codes"("user_id");

-- CreateIndex
CREATE INDEX "verification_codes_code_idx" ON "verification_codes"("code");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_area_id_fkey" FOREIGN KEY ("area_id") REFERENCES "areas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "areas" ADD CONSTRAINT "areas_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "areas" ADD CONSTRAINT "areas_director_id_fkey" FOREIGN KEY ("director_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliments" ADD CONSTRAINT "compliments_collaborator_id_fkey" FOREIGN KEY ("collaborator_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliments" ADD CONSTRAINT "compliments_submitted_by_id_fkey" FOREIGN KEY ("submitted_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliment_approvals" ADD CONSTRAINT "compliment_approvals_compliment_id_fkey" FOREIGN KEY ("compliment_id") REFERENCES "compliments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliment_approvals" ADD CONSTRAINT "compliment_approvals_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliment_evaluations" ADD CONSTRAINT "compliment_evaluations_compliment_id_fkey" FOREIGN KEY ("compliment_id") REFERENCES "compliments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliment_evaluations" ADD CONSTRAINT "compliment_evaluations_director_id_fkey" FOREIGN KEY ("director_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliment_reevaluations" ADD CONSTRAINT "compliment_reevaluations_compliment_id_fkey" FOREIGN KEY ("compliment_id") REFERENCES "compliments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "compliment_reevaluations" ADD CONSTRAINT "compliment_reevaluations_director_id_fkey" FOREIGN KEY ("director_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trainings" ADD CONSTRAINT "trainings_collaborator_id_fkey" FOREIGN KEY ("collaborator_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trainings" ADD CONSTRAINT "trainings_submitted_by_id_fkey" FOREIGN KEY ("submitted_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_reference_id_fkey" FOREIGN KEY ("reference_id") REFERENCES "compliments"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "verification_codes" ADD CONSTRAINT "verification_codes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

